# ----------------------
# Flask
# ----------------------
Flask==1.0.2
Flask-WTF
#Jinja2==2.10
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2

# ----------------------
# Production Server
# ----------------------
gunicorn==19.9.0